<h1>Create New Heroine</h1>
<%= form_for(@heroine) do | f | %>
    <label>Name</label>
    <%= f.text_field (:name) %>
    <%= f.label :super_name %>
    <%= f.text_field (:super_name) %>
    <%= f.submit %>
    <% end %>

    

